name: Check Nickel Format

on:
  push:
    branches:
      - master
    paths:
      - 'ncl/**'
      - 'tests/ncl/**'
  pull_request:
    branches:
      - '*'
    paths:
      - 'ncl/**'
      - 'tests/ncl/**'

jobs:
  check-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install nickel
        run: |
          wget https://github.com/tweag/nickel/releases/download/1.12.2/nickel-x86_64-linux
          chmod +x ./nickel-x86_64-linux
          sudo cp ./nickel-x86_64-linux /usr/bin/nickel

      - name: Run make ncl-format
        run: make ncl-format

      - name: Check for changes
        run: |
          git diff --exit-code || (echo "There are uncommitted changes. Please run 'make ncl-format' and commit the changes." && exit 1)
