name: Rust Checks (STM32F4)

on:
  push:
    branches:
      - master
    paths:
      - '.cargo/config.toml'
      - 'Cargo.*'
      - 'ld/stm32f4xx-tinyuf2/*'
      - 'ncl/**/*.ncl'
      - 'stm32f4-rtic-smart-keyboard/**'
      - 'src/**/*.rs'
      - 'smart-keymap-nickel-helper/**'
      - 'usbd-smart-keyboard/**'
  pull_request:
    branches:
      - '*'
    paths:
      - '.cargo/config.toml'
      - 'Cargo.*'
      - 'ld/stm32f4xx-tinyuf2/*'
      - 'ncl/**/*.ncl'
      - 'stm32f4-rtic-smart-keyboard/**'
      - 'src/**/*.rs'
      - 'smart-keymap-nickel-helper/**'
      - 'usbd-smart-keyboard/**'

jobs:
  cargo-build-target-thumbv7em-none-eabihf:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install nickel
        run: |
          wget https://github.com/tweag/nickel/releases/download/1.9.1/nickel-x86_64-linux
          chmod +x ./nickel-x86_64-linux
          sudo cp ./nickel-x86_64-linux /usr/bin/nickel

      - name: Rust Add Target
        run: rustup target add thumbv7em-none-eabihf

      - name: Run Cargo Build
        run: cargo build --target=thumbv7em-none-eabihf --no-default-features

      - name: Run Cargo Build (usbd-smart-keymap)
        run: cargo build --target=thumbv7em-none-eabihf --package=usbd-smart-keyboard

      - name: Run Cargo Build (stm32f4-rtic-smart-keyboard)
        run: cargo build --target=thumbv7em-none-eabihf --package=stm32f4-rtic-smart-keyboard

      - name: Run Cargo Build (stm32f4-rtic-smart-keyboard, ex=minif4_36-rev2021_4-lhs)
        run: cargo build --target=thumbv7em-none-eabihf --package=stm32f4-rtic-smart-keyboard --example=minif4_36-rev2021_4-lhs

      - name: Run Cargo Build (stm32f4-rtic-smart-keyboard, ex=minif4_36-rev2021_4-rhs)
        run: cargo build --target=thumbv7em-none-eabihf --package=stm32f4-rtic-smart-keyboard --example=minif4_36-rev2021_4-rhs

      - name: Run Cargo Doc
        run: |
          cargo doc \
            --no-default-features \
            --package=stm32f4-rtic-smart-keyboard \
            --package=smart-keymap \
            --package=usbd-smart-keyboard
        env:
          RUSTDOCFLAGS: --deny warnings
