name: Rust Checks

on:
  push:
    branches:
      - master
    paths:
      - '.cargo/config.toml'
      - 'Cargo.*'
      - 'features/**/*.feature'
      - 'ncl/**/*.ncl'
      - 'src/**/*.rs'
      - 'smart-keymap-nickel-helper/**'
      - 'tests/**/*.rs'
  pull_request:
    branches:
      - '*'
    paths:
      - '.cargo/config.toml'
      - 'Cargo.*'
      - 'features/**/*.feature'
      - 'ncl/**/*.ncl'
      - 'src/**/*.rs'
      - 'smart-keymap-nickel-helper/**'
      - 'tests/**/*.rs'

jobs:
  cargo-build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install nickel
        run: |
          wget https://github.com/tweag/nickel/releases/download/1.9.1/nickel-x86_64-linux
          chmod +x ./nickel-x86_64-linux
          sudo cp ./nickel-x86_64-linux /usr/bin/nickel

      - name: Run Cargo Build
        run: cargo build

      - name: Run Cargo Test
        run: cargo test

      - name: Run Cargo Doc
        run: |
          cargo doc \
            --package=smart-keymap \
            --package=usbd-smart-keyboard
        env:
          RUSTDOCFLAGS: --deny warnings

      - name: Run Sizes
        run: |
          cargo run --bin sizes | tee sizes.json
          echo "# Sizes" >$GITHUB_STEP_SUMMARY
          echo "\`\`\`" >>$GITHUB_STEP_SUMMARY
          cat sizes.json >>$GITHUB_STEP_SUMMARY
          echo "\`\`\`" >>$GITHUB_STEP_SUMMARY
